body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  min-height: 100vh; /* Ensure the root container takes up at least the full viewport height */
  display: flex;
  flex-direction: column;
}

/* Ensure the main content takes up the remaining space */
main {
  flex: 1;
}